html{
  font-size: 2rem;
  font-family: "Noto Sans JP", sans-serif;

}

button{
  display: block;
  color: #fff;
  padding: 1rem 2rem;
  margin:  0 auto;
  border-radius: .5rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

h1{
  position: relative;
}

p{
  text-align: center;
  line-height: 1.75;
}

p{
@media screen and (max-width:768px) {
    font-size: 0.6rem;
  }
}
.inner{
  padding-top: 50px;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.visible{
  display: none;
}

.timer{
  transition: opacity 0.5s ease;
  font-size: 3rem;
}

.timer{@media screen and (max-width:768px) {
    font-size: 2rem;
  }}


.start-button{
  background-color: #288657;
}

.stop-button{
  background-color:#CE3E49 ;
}